# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env secrets (DO NOT PUSH)
.env
client/.env
server/.env
**/.env

# logs / OS / editor
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

# build
client/dist/
server/drizzle/meta/